n8n/workflows/activity-webhook-ingest.json
{
  "name": "WF-4: Activity Webhook Ingest",
  "meta": {
    "description": "Generic inbound webhook for third-party signals that should append to a lead's activity timeline without a full API integration -- e.g. a calendar-booking tool confirming a meeting, or a form submission indicating inbound interest. Kept intentionally thin: it validates the shared secret and forwards structured payloads to the API's meetings/activities endpoints, with no business logic living in n8n itself."
  },
  "nodes": [
    {
      "parameters": {
        "path": "activity-ingest",
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "responseMode": "responseNode"
      },
      "name": "Webhook: External Activity",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{$json.body.eventType}}", "rightValue": "meeting_booked", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Meeting Booked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{$env.BLUWHEELZ_API_BASE_URL}}/v1/leads/{{$json.body.leadId}}/meetings",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "scheduledAt", "value": "={{$json.body.scheduledAt}}" },
            { "name": "notes", "value": "={{$json.body.notes || ''}}" }
          ]
        }
      },
      "name": "API: Create Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, -80],
      "notesInFlow": "Uses a dedicated service-account Bearer token (a Supabase user with the admin role, provisioned specifically for n8n) since this action needs normal RBAC/auth, unlike the internal-only endpoints."
    },
    {
      "parameters": { "respondWith": "noData", "responseCode": 204 },
      "name": "Respond 204",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "Unhandled eventType", "responseCode": 400 },
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 120]
    }
  ],
  "connections": {
    "Webhook: External Activity": { "main": [[{ "node": "Is Meeting Booked?", "type": "main", "index": 0 }]] },
    "Is Meeting Booked?": {
      "main": [
        [{ "node": "API: Create Meeting", "type": "main", "index": 0 }],
        [{ "node": "Respond 400", "type": "main", "index": 0 }]
      ]
    },
    "API: Create Meeting": { "main": [[{ "node": "Respond 204", "type": "main", "index": 0 }]] }
  }
}
